body {
	display: flex;
	flex-direction: column;
	background: dimgrey;
	align-items: center;
}
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

.panel {
	position: relative;
	display: flex;
	flex-direction: column;
	width: max(40vw, 400px);
	padding: 20px;
	margin: 20px;
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid white;
	border-radius: 10px;

	filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.7));
}
#testCanvas {
    height: max(40vw, 400px);
}
#navigation {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;;
}
a {
	color: violet;
}
a:hover {
	color: blue;
}

#textField {
	/* hm... break-word not really applied */
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	padding: 10px;
	width: max(60vw, 400px);
	min-height: 100px;

	margin: 20px;
}
#keys {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
input[type="number"] {
	width: 40%;
	padding: 10px;
}
label,
button {
	display: block;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 0;
	font-family: "Helvetica", sans-serif;
	transition: 0.5s;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	height: fit-content;
	margin: 0;
}

label:hover,
button:hover {
	background-color: #eee;
}

#pseudoButton,
#encrypt-button {
	/* interesting: only works on id */
	width: fit-content;
}
a {
    font-size: 2em;
}